h1 {
    background-image: linear-gradient(to right, rgb(109, 109, 207), darkblue);
    color:white;
  text-align: center;
  margin: -7px;
  color: rgb(234, 0, 255);
  /* height: 50px; */
  }
  h2 {
    Color: lightgrey;
    text-shadow: 1.5px 1.5px darkgrey;
  }
  h3 {
    font-size: 24px;
    color: rgb(88, 88, 88);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  h4 {
    font-size: 20px;
    font: Arial;
  }
  p {
  color: rgb(241, 7, 7);
  font-size: 18px;;
  }
  
  #input2 {display: inline-block;
  }
  
  .background {
  background-color: gray;
  background-blend-mode: black;
  background-blend-mode: red;
  } /* not used*/
  
  .sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 14px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    height: 497px;
    width: 730px;
  }
  
  .yearEntry{float:right;
    font-size:20px;
  width: 125px;
  height: 148px;
  color: lightblue;
  vertical-align: top;
  margin-right: 20px;
  }
  
  .yearEntry:hover  {box-shadow: 5px 5px 3px rgb(234, 0, 255);}
  
  .yearEntry2{float:center;
    font-size: 16px;
  width: 150px;
  /*height: 75px;*/
  color:lightslategrey;
  vertical-align: top;
  }
  
  .searchParameter{
    background-color: rgb(122, 124, 240);
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
    border-radius: 6px;
  }
  
  .searchParameter:hover {
    background-color: rgb(196, 248, 91);
    cursor: pointer;
    box-shadow:  3.5px 3.5px rgb(155, 3, 74);
  }

  /* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  width: 300%;
  margin-left: 10%;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  width: 300%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

path:hover { fill: yellow; stroke: blue; pointer-events:all; }

path { fill: red; stroke: green; pointer-events:all; }
circle { fill: red; stroke: green; pointer-events:all}
circle:hover { fill: yellow; stroke: blue; pointer-events:all; }

#ch { fill: green; stroke: orange; pointer-events:all; }
#dz {fill: green; stroke: orange; pointer-events:all; }
#ch path:hover {fill: yellow; stroke: purple; pointer-events:all; }
.landxx_ch path:hover {fill: yellow; stroke: blue; pointer-events:all; }
#es:hover {fill: yellow; stroke: purple; pointer-events:all; }
#es {fill: yellow; stroke: purple; pointer-events:all; }
#ru { background-image: url('./Flag_of_Russia.png');}